:root {
  --primary-color: #d9dbf1;
  --complementary-color: #0d0628;
  --contrast-color: #f9f9ed;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h1 {
  font-size: 96px;
}

p {
  font-family: "Poppins", sans-serif;
}

.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 100px 20px;
  color: var(--complementary-color);
}

.hero h2 {
  line-height: 2;
  font-size: 36px;
}

.banner {
  background-color: var(--complementary-color);
  padding: 15px 40px;
  display: flex;
  justify-content: flex-end;
}

.banner i {
  font-size: 40px;
  padding-left: 40px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.sectionTittle {
  text-align: center;
  padding: 100px 0 20px 0;
}

.project-description {
  max-width: 1000px;
  margin: 20px 20px;
  background-color: var(--complementary-color);
  color: var(--contrast-color);
  padding: 50px 35px 0 20px;
  border-radius: 30px;
}

.project-description h2 {
  padding-bottom: 20px;
}

.imageLeft {
  border-radius: 30px 30px 0 0;
  max-width: 100%;
  display: block;
  margin-left: 20px;
}

.imageRight {
  border-radius: 30px 30px 0 0;
  max-width: 100%;
  display: block;
  padding-right: 5px;
}

.description {
  padding-left: 20px;
  text-align: center;
}

.descriptionLinks {
  display: flex;
  justify-content: space-around;
}
.descriptionLinks a {
  color: var(--contrast-color);
  font-family: "Poppins", sans-serif;
  margin-top: 60px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 20px 20px;
}

.about-description {
  margin: 20px 20px;
  background-color: var(--complementary-color);
  color: var(--contrast-color);
  border-radius: 30px;
}

.aboutText {
  margin-bottom: 40px;
  padding: 0 20px;
  text-align: justify;
}

.aboutText .sectionTittle {
  padding: 50px 0 20px 0;
}

.about-image {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.about-image img {
  border: 7px solid var(--primary-color);
  border-radius: 30px;
}

.contactIcons {
  display: flex;
  justify-content: end;
}

.contactIcons i {
  font-size: 30px;
}
